<meta charset="UTF-8">
<style>
  .condensedlines {
      font-size:   12pt;
      line-height: 16pt;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

	#contenedor {
	    position: relative;
	    height:220px;
	    padding:10px;
	}

	#left {
	    float:left;
	}

	.divider{
	    position:absolute;
	    left:250px;
	    top:5px;
	    bottom:5px;
	    border-left:1px solid grey;
	}

	#right {
		position:absolute;
		left:270px;
	    width:390px;
	    height:200px;
	    float:right;
	}



</style>


<hr style="width:670px;" align="left">
<div id= "contenedor">

	<div id="left">
		<img src="http://s3.postimg.org/r3opa07kj/logo_Emartinezconfondo.png" alt="Electrónica Martínez" height="220" width="220">
	</div>

	<div class="divider"></div>

	<div id="right" class="condensedlines">
		
			<b>Nombre:</b> 456<br>
			<b>Cargo:</b> a<br>
			<b>Departamento:</b> a<br>
			<b>Email:</b> a<br>
			<b>Oficina:</b> 968 165 000<br>
			<b>Aver&iacute;as:</b> 676 966 000<br>
			<b>P&aacute;gina web:</b> <a href="http://www.electronicamartinez.com" target="_blank">www.electronicamartinez.com</a>
		
		<hr>

		<a href="https://www.linkedin.com/company/10271615" target="_blank" > 
			<img src="http://s15.postimg.org/ioxdj3dkr/Linked_In_logo_initials_1.png" alt="LinkedIn" height="45" width="45"></a>

		<a href="https://twitter.com/EMartinez_SL" target="_blank" style="margin-left:10px;"> 
			<img src="http://s16.postimg.org/7o3u41wlx/twitter_logo.png" alt="Twitter" height="45" width="45"></a>

		<a href="https://www.facebook.com/Electrónica-Martínez-1702802093290734" target="_blank" style="margin-left:10px;"> 
			<img src="http://s21.postimg.org/6ba5enton/fb_icon_325x325.png" alt="Facebook" height="45" width="45"></a>

		<a href="https://plus.google.com/104958156336764853065" target="_blank" style="margin-left:10px;"> 
			<img src="http://s27.postimg.org/8odzlznub/Google_Plus_Logo.png" alt="Google Plus" height="45" width="45"></a>			
			
	</div>

</div>
<hr style="width:670px;" align="left">
